<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" href="./css/login.css">
    <div>
        <form action="loginPage" method="post" class="login">
            <h1 class="login-title">登录系统</h1><br />
            <input type="text" name="id" class="login-input" placeholder="请输入用户ID" autofocus /> <!--文本框内信息和加载页面时自动获得焦点-->
            <input type="password" name="userPassword" class="login-input" placeholder="请输入密码" />
            <span class="help-block" style="color: red;" th:if="${param.error}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
            <input type="submit" value="登录" class="login-submit" />
            <input type="checkbox" class="remember-me" name="remember-me" />记住密码<br /><br />
            <p class="login-help"><a href="javascript:void(0);">忘记密码</a>
            </p>
        </form>
    </div>

</head>
<body>

</body>
</html>